
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$container-large-desktop: (985px);
// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.header{
  background-color: rgba(245, 245, 245, 1);
  height: 50px;
  border-bottom: 1px solid rgba(229, 229, 229, 1);
}

.heading{
  width: 985px;
  margin: 0 auto;

}

.heading-left{
  width: 630px;
  display: inline-block;
  span{
    margin: 0 12px 0 0;
    vertical-align: bottom;
    width: 28px;
    color: black;
    &:hover{
        color: rgba(61, 118, 194, 1);
    }
  }
}
#search-area{
  display: inline-block;
  width: 360px;
  height: 28px;
  margin-top: 10px;
}

#nav-ul{
  float: right;
  padding-left: 0px;
  padding-top: 15px;
  font-family: Helvetica;
  li{
    display: inline-block;
    list-style: none;
    margin-right: 18px;
    a{
      text-decoration: none;
      color: rgba(50, 51, 51, 1);
      font-weight: 500;
      &:hover{
        color: rgba(61, 118, 194, 1);
      }
    }
  }
}

.heading-right{
  padding-right: 14px;
  float: right;
  .nav-icons-list{
    padding-top: 12px;
    cursor: pointer;
    li{
      display: inline-block;
      list-style: none;
      margin-left: 12px;
      img{
        border-radius: 5px;
          height:22px;
          width: 22px;
        }
      a{
        text-decoration: none;
        color: rgba(50, 51, 51, 1);
        &:hover{
          color: rgba(61, 118, 194, 1);
        }
      }
    }
  }

  .sort-list{
    text-align: left;
    display: block;
      z-index: 100;
      position: absolute;
      font-size: 12px;
      left:1033px;
      top: 43px;
      list-style: none;
      background-color: white;
      border: 1px solid rgba(225, 227, 223, 1);
      padding: 5px 0 5px 0;
      clear: both;
      #mid-sec{
        border-bottom: 1px solid rgba(229, 229, 229, 1);
      }
      .signed-in-as{
        p{
        border-bottom: 1px solid rgba(229, 229, 229, 1);
        margin-left: 0;
        list-style: none;
        cursor: pointer;
        padding: 5px 20px 5px 10px;
        color: rgba(118, 118, 118, 1);
      }
      span{
        color:rgba(118, 118, 118, 1);
      }
    }
     .hidden-list{
       margin-left: 0;
       display: block;
        list-style: none;
        cursor: pointer;
        padding: 5px 0px 5px 10px;
        color: rgba(35, 35, 35, 1);
        &:hover{
          background-color: rgba(61, 118, 194, 1);
          color: white;
        }
      }
      .hidden-list2{
        margin-left: 0;
        display: block;
         list-style: none;
         cursor: pointer;
         padding: 5px 0px 5px 10px;
         color: rgba(35, 35, 35, 1);
         &:hover{
           background-color: rgba(61, 118, 194, 1);
           color: white;
         }
      }
  }
  .hide-it{
    display: none;
  }
}



.content{
  padding-top: 20px;
}

.side-col{
  padding: 0;
  .image{
    width: 100%;
    img{
      border-radius: 10px;
      height: 232px;
      width: 232px;
    }
  }
  .user-name{
    border-bottom: 1px solid rgba(238, 238, 238, 1);
    font-family: Helvetica;
    h1{
      font-size: 26px;
      margin: 15px 0 0 0;
      font-weight: bold;
    }
    h2{
      color: rgba(102, 102, 102, 1);
      font-size: 20px;
      font-weight: 300;
      margin: 0px 0 10px 0;
    }
  }
}

.user-info{
  padding-top: 15px;
  ul{
  font-family: Helvetica;
  padding-left: 0;
  margin-bottom: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  li{
    list-style: none;
    display: inline-block;
    p{
      display: inline-block;
      padding-left: 5px;
      }
    }
  }
}
#email{
  cursor: pointer;
  color: rgba(61, 118, 194, 1);
  &:hover{
    text-decoration: underline;
  }
}

.following{

  .following-list{
    padding-left: 0;
    text-align: center;
    border-bottom: 1px solid rgba(238, 238, 238, 1);
    padding: 8px 0 8px 0;
    a{
      font-family: Helvetica;
      width:60px;
      display: inline-block;
      text-align: center;
      margin: 0 5px 0 5px;
      text-decoration: none;
      &:hover{
        strong{
          color: rgba(61, 118, 194, 1);
        }
        span{
        color: rgba(61, 118, 194, 1);
      }
      }
      strong{
        font-size: 28px;
      }
      span{
        text-decoration: none;
        color: rgba(119, 119, 119, 1);
        font-size: 13px;
      }
    }
  }
}

.organizations{
  h1{
  font-size: 16px;
  font-family: Helvetica;
  font-weight:bold;

}
}


.nav-for-content{
  li{
    a{
      color: rgba(102, 102, 102, 1);
      &:hover{
        color: rgba(102, 102, 102, 1);
      }
      span{
        padding-right:5px;
      }
    }
  }
}

#edit-pro{
  text-decoration: none;
  color: black;
}

.edit-pro{
  background-color: rgba(248, 248, 248, 1);
  float: right;
  height:25px;
  width: 108px;
  border: 1px solid rgba(213, 213, 213, 1);
  margin-top: 8px;
  padding: 0;
  &:hover{
    background-color: rgba(238, 238, 238, 1);
  }
  span{
    padding-right: 5px;
  }
}


.second-row{
  border-bottom: 1px solid rgba(221, 221, 221, 1);
  padding-bottom: 5px;
  margin-top: 15px;
  font-family: Helvetica;
  input{
    width: 260px;
    margin-right: 5px;
    display: inline-block;
  }
  #search-but{
    border: 1px solid rgba(213, 213, 213, 1);
    background-color: rgba(248, 248, 248, 1);
    width: 70px;
    font-weight: bold;
    &:hover{
      background-color: rgba(238, 238, 238, 1);
  }
}
  .repo-type{
    list-style: none;
    padding-left: 10px;
    display: inline-block;
    li{
      margin-right: 5px;
      font-family: Helvetica;
      display: inline-block;
      list-style: none;
      a{
        text-decoration: none;
      }
    }
    .active{
      a{
      text-decoration: none;
      color: black;
      font-weight: bold;
    }
  }
  }
  #green-button{
    font-family: Helvetica;
    float: right;
    background-color: rgba(97, 182, 65, 1);
    color: white;
    border: 1px solid rgba(89, 170, 58, 1);
    &:hover{
      background-color: rgba(87, 172, 55, 1);

    }
    span{
      margin-right: 4px;
    }
  }
}


.repo{
  font-family: Helvetica;
  h1{
    margin-top: 35px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
  }
  p{
  font-size: 13px;
  color: rgba(136, 136, 136, 1);
  padding-bottom: 35px;
  border-bottom: 1px solid rgba(221, 221, 221, 1);
  }
  ul{
    float: right;
    list-style: none;
    li{
      color: rgba(136, 136, 136, 1);
      list-style: none;
      display: inline-block;
      margin-top: 35px;
    }
  }
}
